<div class="row">
  <div class="col-xs-12">
    <img src="{{ recipeBeingDisplayed.imagePath }}" alt="{{ recipeBeingDisplayed.name }}" class="img-responsive" style="max-height:200px;">
  </div>
</div>
<div class="row">
  <div class="col-xs-12">
    <h1>{{ recipeBeingDisplayed.name }}</h1>
  </div>
</div>
<div class="row">
  <div class="col-xs-12">
    <div class="btn-group" appDropdown>
      <button type="button" class="btn btn-primary dropdown-toggle">Manage Recipe <span class="caret"></span></button> 
      <ul class="dropdown-menu">
        <li><a (click)="addRecipeIngredientsToShoppingList()" style="cursor: pointer;">To Shopping List</a></li>
        <li><a (click)="onEditRecipeClick()" style="cursor: pointer;">Edit Recipe</a></li>
        <li><a style="cursor: pointer;">Delete Recipe</a></li>
      </ul>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-xs-12">
    {{ recipeBeingDisplayed.description }}
  </div>
</div>
<div class="row">
  <div class="col-xs-12">
    <h5>Ingredients:</h5>
    <ul class="list-group">
      <li 
        class="list-group-item"
        style="max-width:250px"
        *ngFor="let ingr of recipeBeingDisplayed.ingredients"
      >{{ ingr.asString() }}</li>
    </ul>
  </div>
</div>